@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: gainsboro;
}

aside
{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 40px;
}

footer
{
    background-color: rgb(8, 0, 53);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: space-evenly;
}

h1, h2, h3, label
{
    font-family: 'Cabin', sans-serif;
}

p
{
    font-family: 'Nanum Gothic', sans-serif;
}

input[type=submit]
{
    background-color: lightsteelblue;
    border: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 3px 55px;
    text-decoration: none;
    cursor: pointer;
}

.top
{
    background-color: rgb(8, 0, 53);
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

.page
{
    color: lightskyblue;
}

.navbar
{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    padding-bottom: 12px;
}

.center
{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.center img
{
    width: 800px;
    height: auto;
}

a:link, a:visited, a:link:active, a:visited:active
{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.videobox
{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videobox video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.links
{
    display: flex;
    justify-content: space-evenly;
}

#mailingform
{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.members
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.memberinfo {
    padding: 3%;
    flex-grow: 1;
    flex-basis: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.memberinfo img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.membertitle
{
    padding-bottom: 4px;
}

.membernamejap
{
    font-family: 'Kosugi Maru', sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
}

.memberinfo p, .memberinfo h3
{
    color: darkslategrey;
    padding-bottom: 10px;
}

.memberinfo a
{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

.albumbox
{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.albumboxcolor
{
    background-color: #C2C2C2;
}

.albumtitlebox
{
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.albumtitlebox h3
{
    font-size: 15px;
}

.albumtitlebox h1
{
    font-size: 40px;
}

.albumtitlebox h2
{
    font-size: 20px;
    font-family: 'Kosugi Maru', sans-serif;
}

.albumcontent
{
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.songlist
{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px; 
}

.song
{
    padding-left: 10px;
}

.song h3
{
    font-family: 'Kosugi Maru', sans-serif;
}

.song p
{
    font-size: 15px;
}

.crossfade
{
    padding-top: 25px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px; 
}

.crossfade h2
{
    padding-bottom: 20px;
}

.crossfadebox {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.crossfadebox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px)
{
    aside
    {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .mailingform
    {
        padding-left: 40px;
        padding-right: 40px;
    }

    .center {
        position: relative;
        padding-bottom: 25%;
        height: 0;
    }

    .center img
    {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 170%;
        height: auto;
    }

    .navbar
    {
        width: 80%;
    }

    .albumbox
    {
        padding-left: 40px;
        padding-right: 40px;
    }

    .albumtitlebox
    {
        padding-left: 40px;
        padding-right: 40px;
    }

    .albumcontent
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .songlist
    {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px; 
    }

    .crossfade
    {
        padding-left: 40px;
        padding-right: 40px; 
    }

    .albumcontent img
    {
        width: 100%;
        height: 100%;
    }
}